<html>
    <head>
        <meta charset="utf-8" />
        <html lang='ru'>
        <link rel="icon" href=https://icon-icons.com/icons2/3404/PNG/96/dashboard_icon_215905.png type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        {% if title %}
        <title>{{ title }} - ProstoBank</title>
        {% else %}
        <title>PrivetBank</title>
        {% endif %}
    </head>
    <body>
        <div id="wrap">
            <header>
                <a href = "/"><button class="image-button"></button></a>
                <ul class="menu">
                <a href="/dash1"><button>Курс валют</button></a>
                <a href="/dash2"><button>Акции компаний</button></a>
                <a href="/dash3"><button>Ставка Центрального Банка</button></a>
                </ul>
                <hr>
            </header>
    </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>