<!DOCTYPE html>
    <html>
        <head>
            {%metas%}
            <title>{%title%}</title>
            {%favicon%}
            {%css%}
        </head>
        <body class="dash-template">
            <header>
               <div>
                    Microblog:
                    <a href="/index">Home</a>
                    <a href="/login">Login</a>
                    <a href="/dash">Dashboard</a>
                </div>
            </header>
            {%app_entry%}
            <footer>
                {%config%}
                {%scripts%}
                {%renderer%}
            </footer>
        </body>
    </html>