input[type="checkbox" i] {
    margin-right: 5px;
    accent-color: #3DED97;
    border: 1px solid black;
    border-width: 5px;
}

/* Кнопки */
.image-button, .menu button {
    background-color: #2979ff;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; /* Отступ между кнопками */
}

.image-button:hover, .menu button:hover {
        background-color: #5393ff;
}

.hr {
    border-top: 1px solid #333;
}

/* Пользовательские классы для Dash */
.name_graph {
    color: #ffcf48; /* Цвет заголовка */
}

.date_field {
    color: #212121;
    background-color: #ffcf48;
    border: none;
    padding: 2px 3px;
    margin: 1%;
}

.button_create {
    background-color: #fc4848;
    color: black;
    border-color: black;
    border: 1px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
    margin-right: 10%;
}

.graph_and_dropdown {
    margin-bottom: 10px;
}
.date_punel {
    margin-bottom: 10px;
    padding-left: 5%;
}
.row_graph {
    display: flex;
    flex-direction: row;
}

.graph_dropdown {
    margin-right:10px;
    width:100%;
    height: 500px;
}

.prediction_label {
    padding: 10px 10px 10px 10px;
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff; /* Желательно настроить цвет текста под общий дизайн вашего приложения */
}

.prediction_output {
    resize: none;
    background-color: #f2f2f2; /* Лёгкий серый цвет фона для выделения поля вывода */
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0; /* Отступ снизу */
    color: #333333; /* Цвет текста, делаем его немного темнее для лучшей читаемости */
}