.name_graph {

}

.date_field {
    background-color: #000;
    color: black;
}

.button_create {
    background-color: #000;
}

.graph_and_dropdown {
    background-color: #000;
    margin:50px;
}

.date_punel{
    background-color: #000;
}