/* Основные стили для темной темы */
body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 44%, rgba(28,39,85,1) 75%, rgba(61,103,148,1) 100%);
    color: #e0e0e0; /* Светлый текст */
    font-family: 'Arial', sans-serif; /* Шрифт */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #bb86fc; /* Сиреневый цвет для ссылок */
}

/* Шапка */
header {
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

.wrap .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

    .wrap .header .logo a img {
        height: 50px;
    }

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

    .nav ul li {
        margin-left: 20px;
    }

        .nav ul li a {
            text-decoration: none;
            color: #e0e0e0;
            font-size: 16px;
        }

            .nav ul li.active a, .nav ul li a:hover {
                color: #2979ff;
            }

/* Центрирование содержимого */
.content {
    text-align: center; /* Текст по центру */
    padding: 20px 0; /* Отступы */
    flex: 1; /* Расширение по оставшемуся пространству */
}

.footer {
    background-color: #1f1b24; /* Чуть-чуть светлее фона */
    color: #e0e0e0; /* Светлый текст для футера */
    text-align: center; /* Центрирование текста */
    padding: 10px 0; /* Отступы */
}

/* Подстройка под мобильные устройства */
@media (max-width: 768px) {
    .nav ul {
        flex-direction: column; /* Столбец для мобильных */
    }

    .nav li {
        margin: 10px 0; /* Отступы для мобильных */
    }
}
