header{
 width: 100%;
 background: #fff;
 height: 80px;
}

.title{
 font-size:50px;
 padding-top: 10px;
 text-align: center;
}
.menu{
 list-style: none;
 position: absolute;
 top: 0;
 right: 500px;
}
button {
  color: #000000;
  background-color:#fff;
  width: 199px;
  height: 50px;
  border-radius: 20px;
   
}
button:hover {
  color: #fff;
  background-color:#000
}
button:active {
  transform: scale(0.95);
}
.image-button {
  width: 50px;
  height: 50px;
  border: none;
  background-image: url('https://sun1-17.userapi.com/s/v1/ig2/CH4gm4pBkYeNIutnfHCjK7ASbWdv0-UtBeFNQrFw2FcBoTOoX6EYS0D7SM0yF_hJOLbONsXovCjdJV2mssSFfJRs.jpg?size=50x0&quality=96&crop=189,0,519,519&ava=1');
  background-size: cover;
  left: 40px;
  margin-top: 10px;
}
.image-button:hover {
  opacity: 0.8;
}

.image-button:active {
  transform: scale(0.95);
}
html {
    font-size: 62.5%;
    font-family: serif;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: #4a4a4a;
    background-color: #f9f9f9;
    padding: 13px;
}

@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}
